{% extends 'master' %}

{% block content %}
  <div class="__banner">
    <div class="banner__inner">
      <img src="/assets/logo.png">
      <h2>PMaP APIK SERVER v1.0</h2>
    </div>
  </div>
{% endblock %}
